<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="/static/styles.css">
  <title>EL CRIPTOCONVERSOR</title>
  
</head>

<body>
  

  <header>

    <div class="conte">
      <a href="#">Inicio</a>
      <a href="#">Compra</a>
      <a href="#">Estado</a>
    </div>
  </header>
  <table border="1">
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>From</th>
        <th>Q</th>
        <th>To</th>
        <th>Q</th>
        <th>P.U</th>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>
    <tr>
        <td>Dato 4</td>
        <td>Dato 5</td>
        <td>Dato 6</td>
    </tr>
</table>
  




 
    
<footer>
  <p>@ criptoconversor/2023</p>
</footer>


</body>
</html>