<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL CRIPTOCONVERSOR</title>
    <link rel="stylesheet"  href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
  </head>


</head>
<body>
  <header>
    <section>
      <h1>EL CRIPTOCONVERSOR</h1>
      <img src="logo cripto.png" alt="grafica de resultados">
    </section>
    <div class="conte">
      <p class=resume>Tu pagina para convertir criptomonedas</p>
      <a href="#">Inicio</a>
      <a href="#">Compra</a>
      <a href="#">Estado</a>
    </div>
  </header>
  <footer>
    <p>@ criptoconversor/2023</p>
  </footer>

  <form>
    <label for="lista1">From:</label>
    <select id="lista1" name="lista1">
        <option value="opcion1">EUR</option>
        <option value="opcion2">USD</option>
        <option value="opcion3">JPY</option>
    </select>

    <label for="lista2">To:</label>
    <select id="lista2" name="lista2">
        <option value="opcionA">BTC</option>
        <option value="opcionB">ETH</option>
        <option value="opcionC">USDT</option>
    </select>

    <input type="submit">
    <button id="botoncalcular"><i class="fa-solid fa-calculator"></i></button>
</form>
  
  
  
    
</body>
</html>