<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL CRIPTOCONVERSOR</title>
    <link rel="stylesheet"  href="style.css">
  </head>
    
</head>
<body>
  <section>
    <h1>EL CRIPTOCONVERSOR</h1>
    <img src="logo cripto.png" alt="grafica de resultados">
  </section>
  <div class="conte">
    <p class=resume>Tu pagina para convertir criptomonedas</p>
    <a href="#">Inicio</a>
    <a href="#">Compra</a>
    <a href="#">Estado</a>
  </div>
</header>
  
  
  
  <footer>
    <p>@ criptoconversor/2023</p>
  </footer>
  
</body>
</html>