/* Estilo para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilo para las celdas de encabezado */
th {
  background-color: #0000;
  border: 1px solid #0000;
  text-align: left;
  padding: 8px;
}

/* Estilo para las celdas de datos */
td {
  border: 1px solid #008000;
  text-align: left;
  padding: 8px;
}

/* Estilo para filas impares */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
