<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="container"></main>
  <header class="header">
    <a href="#" class="logo">
      <img src="Imagenes/logo cripto.png" alt="EL CRIPTOCONVERSOR">
    </a>
    <nav class="menu">
      <ul class="menu-list">
        <li class ="menu-list_item"><a href="#">INICIO</a></li>
        <li class ="menu-list_item"><a href="#">CONSULTAR</a></li>
        <li class ="menu-list_item"><a href="#">LISTA DE MONEDAS</a></li>
        <li class ="menu-list_item"><a href="#">CONTACTO</a></li>
        
      </ul>
    </nav>
  </header>
  
  <article class="content">
    <h4 class="content__claim">¡Tu conversor de monedas!</h4>
    <h3 class="content__subclaim">Mas informacion</h3>
  </article>
  

  
</body>
</html>